<div #fixedBox class="main">
  <video
    [ngStyle]="{ width: imageSize + '%' }"
    src="/assets/video/snow.mp4"
    loop
    autoplay
  >
    Your browser does not support the video tag.
  </video>
  <div class="main__header">
    <div class="main__header__item">
      <p>item 1</p>
    </div>
    <div class="main__header__item">
      <p>item 2</p>
    </div>
  </div>
  <div class="main__body">
    <div class="main__body__section">
      <h1>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit porro
        mollitia fugit, sapiente ullam nisi explicabo asperiores in officia
        eveniet voluptatem voluptas laboriosam deleniti unde at quam animi
        obcaecati culpa!
      </h1>
    </div>
    <div class="main__body__section">
      <h1>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit porro
        mollitia fugit, sapiente ullam nisi explicabo asperiores in officia
        eveniet voluptatem voluptas laboriosam deleniti unde at quam animi
        obcaecati culpa!
      </h1>
    </div>
    <div class="main__body__section">
      <h1>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit porro
        mollitia fugit, sapiente ullam nisi explicabo asperiores in officia
        eveniet voluptatem voluptas laboriosam deleniti unde at quam animi
        obcaecati culpa!
      </h1>
    </div>
  </div>
</div>
